PORT=4000
NODE_ENV=development
CORS_ORIGIN=http://127.0.0.1:4200,http://localhost:4200

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=your_database_user
DB_PASSWORD=your_database_password
DB_NAME=your_database_name

JWT_SECRET=your_super_secret_jwt_key
ACCESS_TOKEN_TTL=15m
REFRESH_TOKEN_TTL_DAYS=7

COOKIE_NAME=refreshToken
COOKIE_SECURE=false
COOKIE_SAMESITE=lax

EMAILJS_SERVICE_ID=your_emailjs_service_id
EMAILJS_TEMPLATE_ID=your_default_emailjs_template_id
EMAILJS_VERIFICATION_TEMPLATE_ID=your_verification_emailjs_template_id
EMAILJS_RESET_TEMPLATE_ID=your_reset_emailjs_template_id
EMAILJS_PUBLIC_KEY=your_emailjs_public_key
EMAILJS_PRIVATE_KEY=
EMAIL_DELIVERY_MODE=preview
EMAIL_AUDIENCE_NAME=Angular Auth Boilerplate
