<div class="card p-4 shadow-sm">

  <h3 class="mb-3">
    Reset Password
  </h3>

  @if (errorMessage) {
    <div class="alert alert-danger">
      {{ errorMessage }}
    </div>
  }

  @if (successMessage) {
    <div class="alert alert-success">
      {{ successMessage }}
    </div>
  }

  <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">

    <div class="mb-3">
      <label>New Password</label>

      <input
        type="password"
        class="form-control"
        formControlName="password"
      >
    </div>

    <div class="mb-3">
      <label>Confirm Password</label>

      <input
        type="password"
        class="form-control"
        formControlName="confirmPassword"
      >
    </div>

    <button class="btn btn-success w-100" [disabled]="!tokenValidated || isSubmitting">
      {{ isSubmitting ? 'Updating...' : 'Update Password' }}
    </button>

  </form>
</div>
